= text_field_tag 'artist'
= text_field_tag 'track'
= hidden_field_tag 'spotify-track-id', nil
= button_tag 'Get Lyrics', id: 'get-lyrics'
= button_tag 'Play', id: 'play'
= button_tag 'Pause', id: 'pause'
#lyrics
#tracks
