!!!
%html{lang: 'en'}
  %head
    %title tru chainz. Lyrics
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %link{ rel: 'icon', type: 'image/png', href: '/favicon.png' }
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
    = javascript_include_tag 'application'
